<!-- <p>admin-login works!</p> -->

<!-- <li routerLink="/admin">Admin</li> -->

<mat-card>
    <mat-card-content>
        <div class="header">
            <h2>Welcome Admin</h2>
        </div>
        <form [formGroup]="adminlogin" (ngSubmit)="onLogin()">
            <div class="email-input">
                <mat-form-field appearance="outline">
                    <mat-label>Email Address *</mat-label>
                    <input class="full-width" matInput placeholder="Enter Email *" formControlName="username">
                    <!-- <mat-error *ngIf="submitted && username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Email Name is required</div>
                    </mat-error> -->
                </mat-form-field>
            </div>
            <div class="email-input">
                <mat-form-field appearance="outline">
                    <mat-label>Password *</mat-label>
                    <input type="password" class="full-width" matInput placeholder="Enter Email *"
                        formControlName="password" required>

                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button>Login</button>
            </div>
        </form>

    </mat-card-content>
</mat-card>