.navbar {
    justify-content: space-between;
    background-color: #00aa13;
    color: white;
}

.material-icons {
    margin-top: 10px;
}

material-icon {
    align-items: center;
}

span {
    padding-right: 1rem;
}